@using RE.Core.Models.Pagination
@model SearchInfo

<div class="d-flex justify-content-end search-section">
    <div class="searchbar">
        <input asp-for="Q" class="search_input" placeholder="Search..." onkeypress="return filterIfEnterPressed(event)">
        <button class="btn btn-link search_icon" onclick="submitForm()">
            <i class="fas fa-search"></i>
        </button>
    </div>
</div>