@using RE.Core.Business.Queries.Responses.Alerts
@using RE.Core.Models.Filters
@model AlertDto

@{ Layout = null; }

<div class="row">
    <div class="col-md-12">

        <form asp-action="Update" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-4">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" readonly />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="RoomTypes"></label>
                <select class="selectpicker d-block" data-style="btn-muted" data-actions-box="true" data-width="fit"
                        asp-for="RoomTypes" asp-items="@Html.GetEnumSelectList<RoomsFilter>()">
                </select>
                <span asp-validation-for="RoomTypes" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="FloorTypes"></label>
                <select class="selectpicker d-block" data-style="btn-muted" data-actions-box="true" data-width="fit"
                        asp-for="FloorTypes" asp-items="@Html.GetEnumSelectList<FloorFilter>()">
                </select>
                <span asp-validation-for="FloorTypes" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="PartitionTypes"></label>
                <select class="selectpicker d-block" data-style="btn-muted" data-actions-box="true" data-width="fit"
                        asp-for="PartitionTypes" asp-items="@Html.GetEnumSelectList<PartitioningFilter>()">
                </select>
                <span asp-validation-for="PartitionTypes" class="text-danger"></span>
            </div>
            <div class="custom-control custom-switch mb-4">
                <input asp-for="IncommingOffers" class="custom-control-input">
                <label asp-for="IncommingOffers" class="custom-control-label"></label>
            </div>
            <div class="custom-control custom-switch mb-4">
                <input asp-for="ReevaluatedOffers" class="custom-control-input">
                <label asp-for="ReevaluatedOffers" class="custom-control-label"></label>
            </div>
            <div class="form-group mt-3">
                <div class="col-md-6 offset-md-3">
                    <input type="submit" value="Update" class="btn btn-primary btn-block" />
                </div>
            </div>
        </form>
    </div>
</div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    $(function () {
        $('select').selectpicker();
    });
</script>>