@using RE.Core.Business.Queries.Responses.Offers
@model OfferDto

@{ Layout = null; }

<div class="row">
    <div class="col-md-12">
        <form asp-action="Update" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Uid"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <input asp-for="Uid" class="form-control" readonly />
                </div>
                <span asp-validation-for="Uid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Domain"></label>
                <input asp-for="Domain" class="form-control" readonly />
                <span asp-validation-for="Domain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rooms"></label>
                <input asp-for="Rooms" class="form-control" />
                <span asp-validation-for="Rooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Floor"></label>
                <input asp-for="Floor" class="form-control" />
                <span asp-validation-for="Floor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Partitioning"></label>
                <input asp-for="Partitioning" class="form-control" />
                <span asp-validation-for="Partitioning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsableArea"></label>
                <input asp-for="UsableArea" class="form-control" />
                <span asp-validation-for="UsableArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalArea"></label>
                <input asp-for="TotalArea" class="form-control" />
                <span asp-validation-for="TotalArea" class="text-danger"></span>
            </div>
            <div class="custom-control custom-switch">
                <input asp-for="Active" class="custom-control-input">
                <label asp-for="Active" class="custom-control-label"></label>
            </div>
            <div class="form-group mt-3">
                <div class="col-md-6 offset-md-3">
                    <input type="submit" value="Update" class="btn btn-primary btn-block" />
                </div>
            </div>
        </form>
    </div>
</div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
